body {
    background-image: url('background.jpg');
    background-size: cover;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 50px;
    margin: auto;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 8%;
    z-index: 0;
}

iframe {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    border: 2px solid black;
    box-sizing: border-box;
}

.timebox {
    background-color: white;
    display: table-cell;
    width: 10%;
    height: 4%;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 10px; 
    right: 10px;
    text-align: center;
    font-size:xx-large;
}


.flagcount {
    background-color: white;
    display: block;
    width: 10%;
    height: 4%;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top:10px;
    text-align: center;
    font-size: xx-large;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}



.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-top: 20px;
}

.form-container label,
.form-container input,
.form-container button {
    margin: 15px;
    width: 200px;
}

.form-container input {
    order: 1;
}

.form-container button {
    order: 2;
}
