body {
    background-image: url('background.jpg');
    background-size: cover;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 50px;
    margin: auto;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

iframe {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    border: 2px solid black;
    box-sizing: border-box;
}

.timebox {
    background-color: white;
    display: table-cell;
    width: 5%;
    height: 2%;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 5%;
    right: 25%; 
    text-align: center;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-top: 20px;
}

.form-container label,
.form-container input,
.form-container button {
    margin: 15px;
    width: 200px;
}

.form-container input {
    order: 1;
}

.form-container button {
    order: 2;
}
